REACT_APP_FIREBASE_API_KEY=AIzaSyAfDzoLt-7C-GEutTViNHT7IAdEy2Ar410
REACT_APP_FIREBASE_AUTH_DOMAIN=alaram-3b961.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=alaram-3b961
REACT_APP_FIREBASE_STORAGE_BUCKET=alaram-3b961.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=555545097348
REACT_APP_FIREBASE_APP_ID=1:555545097348:web:29fb159186fec7b6ecbed1
REACT_APP_FIREBASE_VAPID_KEY=BATJ3h5biIz4_TvLuMDVjnNXl4ocV5aXKOMwX8QbHSbJ0I2J5ijjyRl08WAiI9ZvQ1FdvBpoa2VL8BJLPC5WcPU

REACT_APP_API_BASE_URL=https://alaram.onrender.com/api
REACT_APP_SOCKET_URL=https://alaram.onrender.com

# REACT_APP_API_BASE_URL=http://localhost:5000/api
# REACT_APP_SOCKET_URL=http://localhost:5000